In [1]:
#Session2 Python

In [5]:
Session2

NameError: name 'Session2' is not defined

In [6]:
1

1

In [9]:
8

8

In [10]:
0

0

In [11]:
08

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-11-c7e80dc713c2>, line 1)

In [12]:
0b

SyntaxError: invalid binary literal (<ipython-input-12-84337f6d1e17>, line 1)

In [13]:
-123

-123

In [14]:
8, 88, 88

(8, 88, 88)

In [18]:
1_2_3

123

In [19]:
5 + 8

13

In [20]:
90 - 10

80

In [21]:
4 * 7

28

In [35]:
8 / 2

4.0

In [23]:
7 // 2

3

In [24]:
7 % 3

1

In [25]:
3**4

81

In [34]:
5 + 8 - 9 * 5

-32

In [36]:
type(4)

int

In [37]:
4.

4.0

In [40]:
4.595949484188

4.595949484188

In [42]:
4.*2

8.0

In [43]:
int(5.)

5

In [44]:
float(int(5.))

5.0

In [48]:
a =9
a

9

In [1]:
0a = 0
0a

SyntaxError: invalid syntax (<ipython-input-1-3fa6528ca10c>, line 1)

In [2]:
a = 9 + 18 - 20
a

7

In [3]:
a -3

4

In [52]:
a

7

In [4]:
a = a +5
a

12

In [54]:
a += 5
a

12

In [66]:
sum = 0
sum += 1 +\
    5 + \
    8 + \
    7
sum

21

In [53]:
temp_C = 25 #Â°C
temp_K = 25 + 273 #K
temp_K

298

In [55]:
True, False

(True, False)

In [61]:
False + 1 , True +1

(1, 2)

# Text

In [57]:
"Texto"

'Texto'

In [5]:
'Texto'

'Texto'

In [6]:
"Texto 'texto'"

"Texto 'texto'"

In [58]:
"Texto" + "Texto2"

'TextoTexto2'

In [92]:
'''
Welcome to the course,
we are in the session 2
'''

'\nWelcome to the course,\nwe are in the session 2\n'

In [7]:
"Here is some \n text"

'Here is some \n text'

In [9]:
number = 1
"%s"%number

'1'

In [10]:
('This one is like converting to a string %s, this one like a integer %i, this one like a float %f, and this one is a scientific notation %e')%(number, number, number, number)

'This one is like converting to a string 1, this one like a integer 1, this one like a float 1.000000, and this one is a scientific notation 1.000000e+00'

In [12]:
F"This example is using F-string {number}"

'This example is using F-string 1'

In [13]:
F"This example is using F-string {number:f}"

'This example is using F-string 1.000000'

In [98]:
texto = '1234'
texto[0]

'1'

In [99]:
texto[1]

'2'

In [100]:
texto[-1]

'4'

In [103]:
texto[-4]

'1'

In [104]:
texto[-4]+ texto[-1]

'14'

In [122]:
len(t)

5

In [14]:
text = '                    Welcome to session 1                 '
text.replace('1' , '2')

'                    Welcome to session 2                 '

In [134]:
text.strip()

'Welcome to session 1'

In [135]:
text.startswith('Welcome')

True

In [136]:
text.endswith('1')

False

In [19]:
text.find('1')

39

In [15]:
text.capitalize()

'                    welcome to session 1                 '

In [16]:
text.title()

'                    Welcome To Session 1                 '

In [17]:
text.upper()

'                    WELCOME TO SESSION 1                 '

In [23]:
float(text[text.find('1')])

1.0

In [62]:
print("sumatoria")

sumatoria

In [93]:
print('Welcome','to','session','2')

Welcome to session 2

#### if conditional

In [71]:
sesion2 = True
if sesion2:
    "We are in session 2"
else:
    "We are not in session 2"

In [24]:
sesion2 = True
if sesion2:
    print("We are in session 2")
else:
    print("We are not in session 2")

We are in session 2

In [73]:
sesion2 = False
if sesion2:
    print("We are in session 2")
else:
    print("We are not in session 2")

In [25]:
x=4
x > 5

False

In [80]:
x < 5

True

In [77]:
x == 4

True

In [82]:
2 < x < 10

True

In [83]:
( 5 > x ) and ( 10 > x)

True

In [84]:
5 > x and not 10 < x

True

In [75]:
x = 4
if x < 4:
    print("The number is less than one")
else:
    print("We are not in session 2")

The number is less than one

In [86]:
word = 'letter'
letter = 'l'
if letter in word:
    print(letter + ' is in ' + word)

l is in letter

#### Lists

In [27]:
vowel = ['a', 'b', 'c', 'd', 'e']
vowel

['a', 'b', 'c', 'd', 'e']

In [28]:
['a','1','b',580]

['a', '1', 'b', 580]

In [29]:
['a','1','b',580 , ['b','c',['nested']]]

['a', '1', 'b', 580, ['b', 'c', ['nested']]]

In [43]:
list = ['a','1','b',580]
list[1]

'1'

In [44]:
list[0] = 5
list

[5, '1', 'b', 580]

In [45]:
list += ['2','q','nueva','lista']
list

[5, '1', 'b', 580, '2', 'q', 'nueva', 'lista']

In [46]:
list[0:4]

[5, '1', 'b', 580]

In [47]:
list[-1:4]

[]

In [48]:
list[-5:-1]

[580, '2', 'q', 'nueva']

In [49]:
list[-5:]

[580, '2', 'q', 'nueva', 'lista']

In [50]:
list[0:4:1]

[5, '1', 'b', 580]

In [51]:
list[-1:-5:-1]

['lista', 'nueva', 'q', '2']

In [52]:
len(list)

8

In [53]:
list.remove(580)
list

[5, '1', 'b', '2', 'q', 'nueva', 'lista']

In [54]:
list.append(580)
list

[5, '1', 'b', '2', 'q', 'nueva', 'lista', 580]

In [55]:
list.pop()

580

In [56]:
list.pop(2)
list

[5, '1', '2', 'q', 'nueva', 'lista']

In [57]:
5 in list

True

In [58]:
listb = list
listb

[5, '1', '2', 'q', 'nueva', 'lista']

In [59]:
listb[0] = 6
listb[0],list[0]

(6, 6)

In [60]:
list2 = list.copy()
list2

[6, '1', '2', 'q', 'nueva', 'lista']

In [61]:
list2[0] = 1000
list2[0],list[0]

(1000, 6)

#### Tuples

In [62]:
vowel = ('a', 'b', 'c', 'd', 'e')
vowel

('a', 'b', 'c', 'd', 'e')

In [63]:
vowel[1] = 11

TypeError: 'tuple' object does not support item assignment

#### Loop with while and for

In [64]:
a = 1
while a <10:
    print(a)
    a += 1

1
2
3
4
5
6
7
8
9

In [65]:
a = 1
while a:
    print(a)
    if a ==10:
        break
    a += 1

1
2
3
4
5
6
7
8
9
10

In [66]:
a

10

In [67]:
for i in list:
    print(i)

6
1
2
q
nueva
lista

In [159]:
for letter in 'abcdefghi':
    if letter == 'h':
        break
    else:
        print(letter)

a
b
c
d
e
f
g

In [68]:
for i in ['a','b','c']:
    for j in [1,2,3]:
        print(i,j)

a 1
a 2
a 3
b 1
b 2
b 3
c 1
c 2
c 3

#### Dictionaries

In [198]:
empty = {}
empty

{}

In [72]:
dict = {'key':'value'}
dict

{'key': 'value'}

In [73]:
user = {'name':'Jonathan','last name':'Quiroz','age':24}
user

{'name': 'Jonathan', 'last name': 'Quiroz', 'age': 24}

In [79]:
user.keys()

dict_keys(['name', 'last name', 'age'])

In [75]:
user.values()

dict_values(['Jonathan', 'Quiroz', 24])

In [76]:
user.items()

dict_items([('name', 'Jonathan'), ('last name', 'Quiroz'), ('age', 24)])

In [77]:
len(user)

3

In [78]:
user['name']

'Jonathan'

In [80]:
del user['age']
user

{'name': 'Jonathan', 'last name': 'Quiroz'}

In [208]:
user.clear()
user

{}

In [209]:
things = {'names':['a'',b']}
things

{'names': ['a,b']}

#### Sets

In [220]:
# its like a bag of keys, must be uniques

In [81]:
empty_set = set()
empty_set

set()

In [84]:
numbers = {1,2,3,5,6,9,8,7,4,2,65}

In [215]:
set('letters')

{'e', 'l', 'r', 's', 't'}

In [216]:
a = {1,2}
b = {2,3}

In [218]:
a&b, a.intersection(b)

({2}, {2})

In [221]:
a | b , a.union(b)

({1, 2, 3}, {1, 2, 3})

In [223]:
a - b, a.difference(b)

({1}, {1})

In [224]:
a ^ b, a.symmetric_difference(b)

({1, 3}, {1, 3})

#### Functions

In [226]:
def hi():
    print('Hello dear student')

In [227]:
hi()

Hello dear student

In [228]:
def hi():
    return "new student"
hi()

'new student'

In [229]:
a = hi()
a

'new student'

In [85]:
#argument
def hi(your_name):
    print('Hello '+your_name)

In [86]:
hi()

TypeError: hi() missing 1 required positional argument: 'your_name'

In [235]:
hi('Jonathan')

Hello Jonathan

In [89]:
hi(your_name='Jonathan')

Hello Jonathan

In [90]:
def hi(your_name,your_lastname='Quiroz'):
    print(F"Hello {your_name} {your_lastname}")

In [91]:
hi('Jonathan')

Hello Jonathan Quiroz

In [92]:
hi('Jonathan', 'Quiros Valdivia')

Hello Jonathan Quiros Valdivia

In [236]:
def number(n):
    if n < 100:
        print('The number is lower than 100')
    else:
        print('The number is a greater than 100')

In [237]:
number(50)

The number is lower than 100

In [238]:
number(155)

The number is a greater than 100